[Desktop Entry]
Name=The Sims 3
Comment=Start The Sims 3 Launcher
Exec=$HOME/.local/share/wineprefixes/TheSims3/runscript.sh Sims3LauncherW.exe
Icon=TheSims3
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
StartupWMClass=Sims3LauncherW.exe